.reset {
    font: normal 700 40px/45px "Futura", sans-serif;
color: rgb(223, 21, 21);
  /*text-align: center;*/
  text-transform: uppercase;
}
.input-reset {
    width: 650px;
    /*align-items: center;*/
}
.txt-reset {
    margin-top: 20px;
  margin-bottom: 10px;
  font: normal 700 16px/20px "Helios", sans-serif;
  color: #003E9A;
    margin-right: 50px;

}
.btn-reset {
    margin-left: -10px;
    width: 240px;
}
.reset-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}