/*.sidenav {*/
/*    display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 80px;*/
/*  margin-bottom: 10px;*/
/*  background: -webkit-gradient(linear, left top, right top, from(#002A69), color-stop(0.01%, #002A69), color-stop(82%, #2C64B8), to(#4782DC));*/
/*  background: linear-gradient(90deg, #002A69 0%, #002A69 0.01%, #2C64B8 82%, #4782DC 100%);*/
/*  opacity: 0.8;*/
/*  -webkit-transition: opacity 0.5s;*/
/*  transition: opacity 0.5s;*/
/*  width: 523px;*/
/*}*/

/*!* The navigation menu links *!*/
/*.sidenav a {*/
/*    !*padding: 40px 8px 6px 16px;*!*/
/*    !*text-decoration: none;*!*/
/*    !*font-size: 25px;*!*/
/*    !*color: #e7640d;*!*/
/*    !*display: block;*!*/
/*width: 200px;*/
/*  max-width: 100%;*/
/*  margin: auto 10px auto auto;*/
/*  font: normal 400 15px/20px "Helios", sans-serif;*/
/*    font-weight: 400;*/
/*  text-transform: uppercase;*/
/*  color: #FFFFFF;*/
/*    margin-bottom: 30px;*/

/*}*/

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*    .sidenav {padding-top: 15px;}*/
/*    .sidenav a {font-size: 18px;}*/
/*}*/

.sidenav {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.sidenav a {
  background: linear-gradient(90deg, #002A69 0%, #002A69 0.01%, #2C64B8 82%, #4782DC 100%);
  min-height: 40px;
  text-align: center;
  padding-top: 30px;

}

sidenav:hover {
    opacity: 1;
}

.sidenav-txt {
    font-weight: 700;
width: 200px;
  max-width: 100%;
  margin: auto 10px auto auto;
  font: normal 400 14px/20px "Helios", sans-serif;
    font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}