{% extends 'index.html' %}

{% block content %}
        {% block title %}

        {% endblock %}

<div>
    {% if user.is_authenticated %}
        <h3>Добро пожаловать: {{ user.user.name }}</h3>
        <div class="code">
          <div class="sidenav">
              <a class="sidenav-txt" href="{% url 'codes'%}">Регистрация уникального кода</a>
              <a class="sidenav-txt" href="#">Призы и баллы</a>
              <a class="sidenav-txt" href="#">Личные данные</a>
          </div>
        </div>
    {% endif %}
</div>
{% endblock %}