{% extends 'index.html' %}

{% block content %}
    {% block title %}

    {% endblock %}

    <form action="{% url 'promocode' %}" method="post">
    {% csrf_token %}

        <div>
            {% if user.is_authenticated %}
                <h3>Добро пожаловать: {{ user.user.name }}</h3>
                <div class="code">
                    <div>
                        <div class="sidenav">
                            <a class="sidenav-txt" href="{% url 'promocode'%}">Регистрация промокода</a>
                            <a class="sidenav-txt" href="{% url 'prize'%}">Призы и баллы</a>
                            <a class="sidenav-txt" href="{% url 'my_prize' %}">Мои призы</a>
                        </div>
                    </div>
                    <div class="registration">
                        <h2>РЕГИСТРАЦИЯ ПРОМОКОДА</h2>
                        <h4>Введите промокод с упаковки</h4>
                        {{ form.promocode }}
                        <button class="button btn-reg">Зарегистрировать</button>
                    </div>
                    <div class="points">
                        <div class="circle-width">
                            <div class="circle">
                                <p class="points_txt">У ВАС</p>
                                <p class="points_val">{{ number_of_available_promocodes }} БАЛЛОВ</p>
                            </div>
                            <button onclick="document.location={% url 'prize'%}" class="button change_btn">Обменять на шансы</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
